.button{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-color:  #242325;
}

.button: hover{
    -fx-background-color:  #1C1B1C;
    -fx-cursor: hand;
}

.button: focused{
    -fx-background-color:  #1C1B1C;
}